# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
ios/
android/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# env files
.env
.env*.local

# typescript
*.tsbuildinfo

# Rork
.rork
rork-eslint.config.js
core

# Backup files
*.bak
*.bak[0-9]
*-old.*

# Other
.vercel
sentry.properties
nextquark-app/
